<div class="p-2 mh-100 col-sm-3 sidebar text-white d-flex flex-column justify-content-center">
    <div class="text-center">
        <img id="profile-pic" class="rounded-circle" src="/assets/images/profile_sketch.png"/> 
    </div>
    <nav class="pt-5 text-center">
        <ul class="nav flex-column">
            {% for item in site.data.navigation %}
                <li class="nav-item" {% if page.url == item.link %}id="current-nav-li"{% endif %}>
                    <a href="{{ item.link }}" class="nav-link text-white" {% if page.url != item.link %}id="not-current-nav-li"{% endif %}>
                        {{ item.name | upcase }}
                    </a>
                </li>
            {% endfor %}
        </ul>  
    </nav> 
</div>