<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{ page.title }}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="/assets/images/favicon.ico">
  <link href="/assets/css/bootstrap.min.css" rel="stylesheet">
  <link href="/assets/css/homepage.css" rel="stylesheet">
  <script src="/assets/js/bootstrap.min.js"></script>
  {% feed_meta %}
  {% seo %}
</head>
<body class="container-fluid">
  <div class="row h-100">
    {% include sidebar.html %}
    {{ content }}
  </div>
</body>
</html>